.AccountCardAuth {
    display: flex;
    flex-direction: row;    
    justify-content: space-between;
    height: 65px;

    @media #{$desktop_breakpoint} {
        height: 50px;
    }
}

.AccountCardAuth__profileImage {
    margin-top: 12px;
    border: 0;
    background: red;
    border-radius: 100%;
    height: 40px;
    width: 40px;
    cursor: pointer;

    img {
        margin-top: 0;
        height: 30px;
        width: auto;
    }

    @media #{$desktop_breakpoint} {
        margin-top: 5px;
    }
}

.AccountCardAuth__menu {
    position: fixed;
    top: 50px;
    right: 1em;
    width: auto;
    height: 0;
    transition: 200ms;

    &[data-active=true] {
        height: auto;
        max-height: 200px;
    }
}