# Logs
logs
*.log

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Dependency directories
node_modules/

# dotenv environment variables file
.env
.env.test

# Source maps
*.map

# React/SASS bundle output
public/dist/bundle.css
public/dist/bundle.js

# SSL certificates
server/ssl/*.crt
server/ssl/*.key
server/ssl/*.srl
server/ssl/*.csr