/*
 *  Default color variables
 */

 :root {
    // Gradient shadows
    --shadow: rgba(0, 0, 0, 0.3);
    --shadow-light: rgba(0, 0, 0, 0.1);
    --shadow-thick: rgba(0, 0, 0, 0.5);

    // Grayscale
    --black: #0e0e10;
    --darker-gray: #0f0f0e;
    --dark-gray: #1a1a1e;
    --gray: #414141;
    --white: #e8e8e8;

    // Theme colors
    --primary-color: #5d00ff;
    --primary-color-light: #7322ff;
    --primary-color-lighter: #be98ff;
    --background-color: var(--black);
    --background-color-light: var(--dark-gray);

    // Content colors
    --header-color: var(--white);
    --text-color: var(--white);
    --link-color: var(--primary-color-lighter);
    --button-color: var(--primary-color);
}
