/*
 *  Default font variables
 */

:root {
    // Font sizes
    --small-font: 1rem;
    --medium-font: 1.4rem;
    --large-font: 2rem;
    --xl-font: 2.5rem;

    // Font families
    --sans-serif: "Montserrat", sans-serif;
}