$phone_breakpoint: "only screen and (min-width: 410px)";
$tablet_breakpoint: "only screen and (min-width: 768px)";
$desktop_breakpoint: "only screen and (min-width: 1200px)";
$desktop_1680_breakpoint: "only screen and (min-width: 1680px)";
$desktop_1920_breakpoint: "only screen and (min-width: 1920px)";
$ultrawide_breakpoint: "only screen and (min-width: 2560px)";