.AccountPageAuth {
    
}

.AccountPageAuth__header {
    h1 {
        font-weight: 400;
        font-size: 1.2rem;
    }  

    h3 {
        font-weight: 100;
        font-size: 1rem;
    }

    @media #{$tablet_breakpoint} {
        h1 {
            font-size: 1.8rem;
        }

        h3 {
            font-size: 1.2rem;
        }
    }

    @media #{$desktop_breakpoint} {
        h1 {
            font-size: 2rem;
        }
    }
}

.AccountPageAuth__form {
    @include form;
    vertical-align: top;
    background: unset;
    padding: 0;
    margin: 0;
    width: 100% !important;

    @media #{$tablet_breakpoint} {
        width: 100%;
    }
}

.AccountPageAuth__section {
    background: var(--dark-gray);
    padding: 0;    
    border-radius: 8px;
    border: 1px solid var(--gray);
    max-width: 800px;

    section {
        width: 100%;
        padding: 16px 0;
        display: flex;
        flex-direction: column;

        &:not(:last-child) {
            border-bottom: 1px solid var(--gray);
        }
    }

    label {
        margin-left: 16px;
    }

    input {
        width: calc(100% - 32px);
        margin: 4px auto;
        margin-top: 8px;
        background: var(--black);
        color: var(--gray);
        padding: 8px;
        border: 0;
        border-radius: 4px;
    }

    @media #{$tablet_breakpoint} {
        section {
            flex-direction: row;
        }

        label {
            margin-top: 14px;
        }

        input {
            width: 60%;
            margin-right: 12px;
        }
    }
}