@mixin dashboardContentRow {
    width: 100%;
    padding: 16px 0;
    display: flex;
    flex-direction: column;

    div {
        display: flex;
        flex-direction: row;
    }

    h4 {
        text-align: right;
        display: inline-block;
        margin-left: 24px;
        min-width: 70px;
        font-weight: 500;
        opacity: 0.6;
    }

    p {
        text-align: center;
        display: inline-block;
        width: calc(100% - 150px);
        margin: 22px 0;
        margin-left: 24px;
    }

    &:not(:last-child) {
        border-bottom: 1px solid var(--gray);
    }
}

.dashboardContentRow {
    @include dashboardContentRow;
}