@mixin dashboardContentRow {
    width: 100%;
    padding: 16px 0;
    display: flex;
    flex-direction: column;

    &:not(:last-child) {
        border-bottom: 1px solid var(--gray);
    }
}

.dashboardContentRow {
    @include dashboardContentRow;
}