@mixin dashboardContentBlock {
    background: var(--dark-gray);
    padding: 8px 0;
    border-radius: 8px;
    border: 1px solid var(--gray);
    max-width: 800px;

    &.small {
        max-width: 400px;
    }

    &.clear {
        background: none;
        border: 0px;
    }
}

.dashboardContentBlock {
    @include dashboardContentBlock;
}