#Header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 65px;
    z-index: 2;
    background-color: var(--background-color-light);
    border-bottom: 1px solid #000;

    @media #{$desktop_breakpoint} {
        height: 50px;
    }
}

.Header__content {
    @media #{$desktop_breakpoint} {
        background: green;
        width: 1200px;
        margin: 0 auto;
        height: 100%;
    }
}