@mixin form {
    width: 280px;
    margin: 1em auto;
    padding: 1em;
    display: flex;
    flex-direction: column;
    background: var(--dark-gray);

    > div {
        width: calc(280px - 2em);
        margin: auto;
        margin-top: 8px;

        &:first-child {
            margin-top: 1em;
        }

        input {
            padding: 4px;
            width: calc(100% - 16px);
            display: block;
            color: var(--text-color);
            background-color: var(--black);
            border: 0;
        }

        select {
            padding: 4px;
            width: calc(100% - 4px);
            display: block;
            color: var(--white);
            background-color: var(--black);
        }
    }

    button {
        border: 0;
        background-color: var(--button-color);
        color: var(--white);
        font-size: 1.5em;
        font-weight: bold;
        padding: 8px;
        width: calc(280px - 2em);
        margin: 8px auto;
        margin-top: 1em;
        cursor: pointer;
    }
}

.form {
    @include form;
}