@mixin form {
    width: 280px;
    margin: 1em auto;
    padding: 1em;
    display: flex;
    flex-direction: column;
    background: white;

    > div {
        width: calc(280px - 2em);
        margin: auto;
        margin-top: 8px;

        &:first-child {
            margin-top: 1em;
        }

        input {
            width: calc(100% - 8px);
            display: block;
        }
    }

    button {
        border: 0;
        background-color: $primaryColor;
        color: white;
        font-size: 1.5em;
        font-weight: bold;
        padding: 8px;
        width: calc(280px - 2em);
        margin: 8px auto;
        margin-top: 1em;

    }
}