.BusinessDashboard {
    @include dashboardContent;
}

.BusinessDashboard__contentInteractive {
    @include dashboardContentInteractive;
}

.BusinessDashboard__form {
    @include form;

    &[data-active=false] {
        display: none;
        height: 0;
    }

    &[data-active=true] {
        display: block;
        height: auto;
    }
}

.BusinessDashboard__contentSection {

}

.BusinessDashboard__contentBlock {
    @include dashboardContentBlock;
}

.BusinessDashboard__contentRow {
    @include dashboardContentRow;
    text-decoration: none;
}