.BusinessDashboard {

}

.BusinessDashboard__contentInteractive {
    button {
        border: 0;
        background-color: var(--button-color);
        color: var(--white);
        font-size: 1.5em;
        font-weight: bold;
        padding: 8px;
        width: calc(280px - 2em);
        margin: 8px auto;
        margin-top: 1em;
        cursor: pointer;
    }
}

.BusinessDashboard__form {
    @include form;

    &[data-active=false] {
        display: none;
        height: 0;
    }

    &[data-active=true] {
        display: block;
        height: auto;
    }
}

.BusinessDashboard__contentSection {
    @include dashboardContent;
}

.BusinessDashboard__contentBlock {
    @include dashboardContentBlock;
}

.BusinessDashboard__contentRow {
    @include dashboardContentRow;
}