#Register {
    @include page;
}

.Register__form {
    @include form;
}

.Register__login {
    font-size: var(--xs-font);
    text-align: center;
}

.Register__field {
    &[data-active=false] {
        height: 0;
        overflow: hidden;
        margin: 0;
    }

    &[data-active=true] {
        height: auto;
    }
}