#Register {
    @include page;
}

.Register__form {
    @include form;
}

.Register__login {
    font-size: var(--xs-font);
    text-align: center;
}

.Register__field {
    &[data-active=false] {
        display: none;
    }

    &[data-active=true] {
        display: block;
    }
}

.Register__button {
    &[data-active=false] {
        display: none;
    }

    &[data-active=true] {
        display: block;
    }
}

.Register__disclaimer {
    font-size: 13px;
    text-align: center;

    a {
        text-decoration: none;
    }
}