.StreamInfoCard {
    width: 300px;
    max-width: 300px;
    display: block;
    margin: 0 auto;
    background-image: linear-gradient(
        to bottom right,   
        lighten(#0e0e10, 10%), 
        lighten(#0e0e10, 14%), 
        lighten(#0e0e10, 16%)
    );
    padding: 20px;
    border-radius: 10px;
 
    &[data-type=loading] {
        height: 50px;
        padding: 0;
    }

    @media #{$tablet_breakpoint} {
        display: inline

    }
}